* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body#background-image {
    background-image: url(big-eclipse.svg), url(mid-eclipse.svg), url(small-eclipse.svg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: contain, contain, contain;
    background-position: right, center, left bottom;
    background-color: rgba(255,255,255,0.5), rgba(255,255,255,0.5), rgba(255,255,255,0.5);
    background-blend-mode: lighten;
    margin: auto;
   
  }


header {
    display:flex;
    width: 90%;
    height:10vh;
    margin: auto;
    align-items: center;
}
.logo-container,
.nav-links,
.cart {
    display: flex;
}
.logo-container {
    flex:1;
    /* background-color:coral; */
}
.nav-links {
    justify-content:space-around;
    list-style: none;
}
.nav-link {
    font-size: 18px;
    text-decoration: none;
}
.logo{
    font-weight: 400px;
    margin: 5px;
}
nav {
    flex:2;
    /* background-color: blueviolet; */
}
body{
    font-family: 'Poppins', sans-serif;
}
.keranjang {
    flex:1;
    /* background-color: dimgrey; */
    text-align:right;
}

.intro-text h1 {
    font-size: 44px;
    font-weight:500px;
    background: linear-Gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p {
    margin-top:5px;
    font-size: 22px;
    color: #585772;
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
}




.introduction {
    text-align:center;
}

button {
    align-items: center;
    color:white;
    padding:50px 0px 0px 0px 0px;
    border:2px solid grey;

}

button:hover {
    background-color:white;
    color:black;
}
.button-14 {
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;    
    

}
.button-chart {
    border: none;
    background: #c36cbb;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    margin : 0px 0px 0px 30px;
    
}
.button{
    height: 10em;
  display: flex;
  align-items: center;
  

}
.matebook{
    flex:1;
    display:flex;
    flex-direction: row;
   justify-content: center;
    width: 40%;
    height:40%;
    margin-left: auto;
    margin-right: auto;
    
   
}
.matebook img{
    height:50vh;
    filter: drop-shadow(0px 5px 3px black);
    animation:drop 1.5s ease;
}

footer {
    display:flex;
    width: 90%;
    height:5vh;
    margin: auto;
    flex-direction: column;
    align-items: center;

}
.nav-bawahan{
    justify-content:center;
    display: flex;
    
}
.nav-1 {
    margin: 0px 0px 0px 0px;

}
.nav-2 {
    margin: 0px 0px 0px 50px;

}
.nav-3 {
    margin: 0px 0px 0px 50px;

}
.nav-4 {
    margin: 0px 0px 0px 50px;

}
.nav-5 {
    margin: 0px 0px 0px 50px;

}



@keyframes drop {
    0% {
        opacity:0;
        transform:translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


@media screen and (max-width:1024) {
    .presentation {
        flex-direction:column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font size: 30px;
    }
    .intro-text p {
            font-size: 18px
    }
    .button {
        text-align: center;
        align-items: center;
    }
}